/* agent stylesheet reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global styles */

*{
    color: var(--dark-font);
}

/* local variables */

:root{
    --primary: #173F5F;
    --secondary: #F6D55C;
    --tertiary: #20629B;
    --accent: #ED553B;
    --dark-font: #05050E;
    --light-font: #EEE6E8;
    --box-shadow: 10px 10px 20px rgb(42, 40, 40 / 15%);
    --card-border-radius: 10px;
    --card-border: rgb(29, 31, 33);
    --button-border-radius: 8px;
    --large-font: 48px;
    --medium-font: 30px;
    --small-font: 18px;
    --smallest-font: 14px;
}

/* dark mode */

/* light mode */

/* header start */

header{
    height: 100vh;
    background-color: #b77474;
}

/* nav start */

nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--light-font);
    padding: 24px 50px 0;
}

/* logo */

#logo{
    width: 200px;
    position: relative;
    top: -6px;
}

/* search bar */
#search-btn,
#search-input{
    padding: 8px 12px;
    border-radius: var(--button-border-radius);
}
#search-btn{
    width: fit-content;
    background-color: var(--accent);
}

#search-input{
    width: 200px;
    background-color: var(--light-font);
}

.fa-search{
    color: var(--light-font);
}

/* profile elements */

.profile-container{
    display: flex;
    gap: 56px;

    & #mode-btn{
        width: fit-content;
        padding: 8px 5px;
        background-color: transparent;
        border: var(--dark-font) 2px solid;
        border-radius: var(--button-border-radius);
    }
    & .icon{
        width: 34px;
        height: 34px;
    }
}

/* nav end */

/* hero section start */

.hero-section{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 80px;
}

/* new arrivals title */

#new-arrivals{
    text-align: center;
    font: 40px bold;
}  

.card-wrapper{
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
}

.card.one{
    grid-row: 1;
    grid-column: 1/2;
}
.card.two{
    grid-row: 1;
    grid-column: 2/3;
}
.card.one{
    grid-row: 1;
    grid-column: 3/4;
}
 

/* cards */

.card{
    border: 2px solid var(--card-border);
    border-radius: var(--card-border-radius);
    width: 380px;
    height: fit-content;

    & .card-image{
        width: min-content;
    }

    & .card-details{
        padding: 14px 18px;
    }
    & .item-price{
        font-size: var(--medium-font);
    }

    /* & .item-ratings{} */

    & .item-view-more{
        font-size: var(--small-font);
    }

    & .item-wishlist{

    }

    & .item-add-cart{}
}   

/* hero section end */

/* header end */
